
.layout{
    display:grid;
    height: 100vh;
    width: 10vw;
    grid-gap: 10px;
    grid-template-columns: 10vw 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";

}
.sidebar{
    grid-area: sidebar;
    position:fixed;
    background:#1a1a1a;
    height: 100vh;
    display: grid;
    padding:10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    
}

.header{
    grid-area: header;
    position:fixed;
    padding: 10px;
    width:90vw;
    height:60px;
    left:220px;
    background:#242424;
}   
.main-content{
    grid-area: main;
    margin-left:220px;
    margin-top:60px;
    background:#ff0000;
}