
    



.sidebar-button{
    background-color: #1a1a1a;
    height: 40px;
    width: 100px;
    
    text-align: left;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}
.sidebar-button:hover{
    background-color: #242424;
    border-color: #242424;
    
}